<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% seo %}
<meta name="theme-color" content="#1f7a4a" />
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self'; img-src 'self' data: https://www.googletagmanager.com https://www.google-analytics.com https://imgsct.cookiebot.com https://consentcdn.cookiebot.com; style-src 'self' 'unsafe-inline'; script-src 'self' https://www.googletagmanager.com https://consent.cookiebot.com https://consentcdn.cookiebot.com 'sha256-IyKt6ual3SkLqXu49Fvbk8BlBwfjbQ4MZNqrnFnRzYg=' 'sha256-1d38a3qVKlLK4YGETO+kDIwDL3YwK3rxazU6qtFFuxc='; connect-src 'self' https://www.google-analytics.com https://region1.google-analytics.com https://consent.cookiebot.com https://consentcdn.cookiebot.com https://formspree.io; font-src 'self'; frame-src https://www.googletagmanager.com https://consent.cookiebot.com https://consentcdn.cookiebot.com;"
/>
<!-- Google Tag Manager -->
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TCRPNG9J');
</script>
<!-- End Google Tag Manager -->
<link rel="manifest" href="{{ site.baseurl }}/manifest.json" />
<link rel="icon" href="{{ site.baseurl }}/assets/icons/beskider-logo-fav.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/icons/icon-192.png" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/fontawesome/css/all.min.css" />
<link rel="preload" href="{{ site.baseurl }}/assets/fontawesome/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="{{ site.baseurl }}/assets/fontawesome/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link
  rel="preload"
  as="image"
  href="{{ site.baseurl }}/assets/images/hero-mountains-1280.jpg"
  imagesrcset="
    {{ site.baseurl }}/assets/images/hero-mountains-320.jpg 320w,
    {{ site.baseurl }}/assets/images/hero-mountains-640.jpg 640w,
    {{ site.baseurl }}/assets/images/hero-mountains-1280.jpg 1280w,
    {{ site.baseurl }}/assets/images/hero-mountains.jpg 2000w
  "
  imagesizes="100vw"
/>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
